<% if (locals.errors) {%>
  <ul class="errors_list">
    <% errors.forEach(function(error) { %>
      <%if(error.msg){%>
        <li><%= error.msg %></li>  
      <%} else {%>
        <li><%= error %></li>  
      <%}%>
    <li><%= error.msg %></li>
    <% }); %>
  </ul>
<% } %>
