<header>
  <h1>
    <a href="/">Members Only</a>
  </h1>
  <nav class="primary-nav">
      <% if (!locals.currentUser) { %>
        <a href="/posts">Posts</a>
        <a class="login" href="/">Login</a>
        <a class="sign-up" href="/users/sign-up">Sign Up</a>
      <%} else {%>
        <button popovertarget="profile-menu" class="user-button">
          <i class="fa-solid fa-circle-user"></i>
        </button>
      <%}%>
  </nav>
</header>
<% if(locals.currentUser) { %>
  <dialog popover id="profile-menu" class="profile-menu">
    <div class="account-info">
      <strong><%=locals.currentUser.first_name%> <%=locals.currentUser.last_name%></strong>
      <p><%=locals.currentUser.username %></p>
    </div>
    <a  href="/posts/new">Create</a>
    <% if(!locals.currentUser.membership_status) {%>
      <a href="/users/members/join">Membership</a>
    <%}%>
    <% if(!locals.currentUser.admin_status) {%>
      <a href="/users/admin">Admin</a>
    <%}%>
    <a id="logout" href="/log-out">Log out</a>
  </dialog>
<%}%>