<header>
  <h1>
    <a href="<% locals.currentUser ? "/posts" : "/" %>">Members Only</a>
  </h1>
  <ul class="header_list">
    <% if (!locals.currentUser) { %>
      <li><a href="/">Login</a></li>
      <li><a href="/users/sign-up">Sign Up</a></li>
    <%} else {%>
      <li><a href="/posts/new">New Message</a></li>
      <li><form action="/log-out" method="get"><button type="submit">Logout</button></form></li>
    <%}%>
  </ul>
</header>
