<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Unica+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css" />
    <title>Admin</title>
  </head>
  <body>
    <%- include("partials/header.ejs")%>
    <main>
      <% if(!locals.currentUser) {%>
        <%- include("partials/loginFirst.ejs")%>
      <%} else {%>
        <section class="banner">
          <div class="form_desc">
            <h2>Become an Admin</h2>
            <p>Being an Admin gives you access to delete any posts.</p>
          </div>
          <div class="form-container">
            <form action="/users/admin" method="post">
              <legend>Enter the Secret code</legend>
              <%- include("partials/errors.ejs") %>
              <label for="secretCode">It's May 31st. Time to meet with the Jolly Rogers. What's the password?</label>
              <input type="password" name="secretCode" id="secretCode" />
              <button type="submit">Submit</button>
            </form>
          </div>
        </section>
      <%}%>
    </main>
  </body>
</html>
