<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <% if (locals.user) {%>
    <h1>Welcome Back! <%= user.username %></h1>
    <% if (!locals.user.membership_status) {%>
    <a href="/members/join">Want to become a member?</a>
    <%}%>
    <a href="/log-out">LOG OUT</a>
    <%} else { %>
    <h1>Please Log In</h1>
    <form action="/log-in" method="post">
      <label for="username">Username: </label>
      <input id="username" name="username" placeholder="username" type="text" />
      <label for="password">Password: </label>
      <input type="password" name="password" id="password" />
      <button type="submit">Log In</button>
    </form>
    <h2>Or Sign Up!</h2>
    <a href="/sign-up">Sign-Up</a>
    <%}%>
  </body>
</html>
