<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/forms.css">
    <link rel="stylesheet" href="/styles.css" />
    <title>Join the Club!</title>
  </head>
  <body> 
    <%- include("partials/header.ejs") %>
    <main>
      <% if(!locals.currentUser) {%>
        <%- include("partials/loginFirst.ejs")%>
      <%} else {%>
      <h1>Join the Club!</h1>
      <div class="form_container">
        <%- include("partials/errors.ejs") %>
        <form action="/users/members/join" method="post">
          <label for="secretCode">Who cleans pirates' ears?  </label>
          <input type="password" name="secretCode" id="secretCode" />
          <button type="submit">Submit</button>
        </form>
      </div>
      <%}%>
    </main>
  </body>
</html>
