<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Unica+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Membership</title>
  </head>
  <body> 
    <%- include("partials/header.ejs") %>
    <main>
      <% if(!locals.currentUser) {%>
        <%- include("partials/loginFirst.ejs")%>
      <%} else {%>
        <section class="banner">
          <div class="form_desc">
            <h2>Become a member</h2>
            <p>Being a member allows you to view posts user and time stamps.</p>
          </div>
          <div class="form-container">
            <form action="/users/members/join" method="post">
              <legend>Become a member</legend>
              <%- include("partials/errors.ejs") %>
              <label for="secretCode">Who cleans pirates' ears?  </label>
              <input type="password" name="secretCode" id="secretCode" placeholder="hmm..." />
              <button type="submit">Submit</button>
            </form>
          </div>
        </section>
      <%}%>
    </main>
  </body>
</html>
