<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Members Only Posts</title>
  </head>
  <body>
    <%- include("partials/header.ejs") %> 
    <% if(!locals.currentUser) { %>
      <ul class="posts_list">
        <li>
          <p>To create a post, you need to <a href="/">login</a> first.</p>
        </li>
        <% posts.forEach(function(post) {%>
          <li class="post">
            <p><%= post.message %></p>
            <p>Anonymous User</p>
            <p>Some Time Ago...</p>
          </li>
        <%})%>
      </ul>
    <%} else {%>
      <% if (posts) {%>
        <%- include("partials/postList.ejs")%>
      <%} else {%>
        <p>Be the first to <a href="/posts/new">write</a> a message.</p>
      <%}%> 
    <%}%>
  </body>
</html>
