<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Unica+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Sign-Up</title>
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <main>
      <div class="form-container">
      <form action="/users/sign-up" method="post">
        <legend>Sign-up</legend>
        <label for="firstname">First Name: </label>
        <input
          id="firstname"
          name="firstname"
          placeholder="firstname"
          type="text"
          required
        />
        <label for="lastname">Last Name: </label>
        <input
          id="lastname"
          name="lastname"
          placeholder="lastname"
          type="text"
          required
        />
        <label for="username">Username: </label>
        <input
          id="username"
          name="username"
          placeholder="username"
          type="text"
          required
          minlength="8"
          maxlength="15"
        />
        <label for="password">Password: </label>
        <input 
          id="password" 
          name="password" 
          type="password" 
          required 
          placeholder="8-15 characters"           
          minlength="8"
          maxlength="15"
        />
        <label for="passwordConfirmation">Confirm Password: </label>
        <input
          id="passwordConfirmation"
          name="passwordConfirmation"
          type="password"
          required
          placeholder="Confirm password"
          minlength="8"
          maxlength="15"
        />
        <%- include("partials/errors.ejs") %>
        <button type="submit">Sign Up</button>
      </form>
      <p>Have an account? <span class="bold"><a href="/">Log in</a></span></p>
      </div>
    </main>
  </body>
</html>
