:root {
  /* Colors */
  --clr-black: #000;
  --clr-gray: #393e41;
  --clr-white: #f6f7eb;
  --clr-red: #d9594c;
  --clr-red-hover: #dd4535;
  --clr-green: #00a676;
  --clr-green-hover: #008f66;
}

/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  /* Improve text rendering on macOS*/
  -webkit-font-smoothing: antialiased;

  background-color: var(--clr-white);
  color: var(--clr-black);
}

img,
picture {
  display: block;
  max-width: 100%;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* HEADINGS */
h1 {
  font-size: 1.75rem;
  font-size: clamp(1.75rem, 1.7rem + 0.25vw, 2rem);
  max-width: fit-content;
}

/* LINKS */
a:any-link {
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  color: var(--clr-green);
}

a:active {
  color: var(--clr-green);
}

a.sign_up {
  color: var(--clr-green);
}

a.sign_up:hover,
a.sign_up:active {
  color: var(--clr-green-hover);
}

/* BUTTONS */
button {
  padding: 0.25em 0.5em;
  border: none;
  border-radius: 3px;
}

button:hover {
  cursor: pointer;
}

button[type="submit"] {
  color: var(--clr-white);
  background-color: var(--clr-green);

  font-weight: 600;
}

button[type="submit"]:hover {
  background-color: var(--clr-green-hover);
}

button.delete_btn {
  background-color: var(--clr-red);
  color: var(--clr-white);
  font-weight: 600;
}

button.delete_btn:hover {
  background-color: var(--clr-red-hover);
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.5rem 1rem;

  border-bottom: 1px dashed var(--clr-gray);
}

.header_list {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 0;

  list-style: none;
}

/*DROPDOWN MENU*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn {
  background-color: var(--clr-white);
  border: none;
  text-decoration: underline;
}

.dropdown-content {
  display: none;

  min-width: 160px;
  position: absolute;
  z-index: 1;
  padding: 0 1em;

  background-color: var(--clr-white);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.dropdown-content a {
  color: var(--clr-black);
  padding: 1em;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.dropdown-content a:last-child {
  border-bottom: none;
}

.dropdown-content a:hover {
  color: var(--clr-green);
}

.dropdown-content a.logout {
  color: var(--clr-red);
}

.dropdown-content a.logout:hover {
  color: var(--clr-red-hover);
}

/* MAIN CONTENT */
main {
  margin: 2rem 0;
}
main > * {
  margin: 0 auto;
}

.login_first {
  background-color: var(--clr-green);
  color: var(--clr-white);

  font-size: 1.25rem;
  text-align: center;

  max-width: 70%;
  padding: 1em;
  margin: 1em auto;
  border-radius: 3px;

  a {
    color: var(--clr-white);
    text-decoration: underline;
    font-weight: 600;
  }
}

.success_container {
  max-width: fit-content;
  margin: 5rem auto;
}
